{% extends 'base_layout.html' %} {% block title %} Main Recipes page
{%endblock%} {% block content %}
<h2>The page with recipes!</h2>
<a href="{% url 'add_recipe' %}"><b>Add new recipe here</b></a>
<section class="center-page recipes-list">
    {% for recipe in recipes %}
    <div class="recipes-list__item">
        <a href="recipe-detail/{{ recipe.pk }}">
        <div class="recipes-list__item__img" style="background-image: url('/recipes{{ recipe.recipe_image.url}}');"></div>
        <div class="recipes-list__item__data">
            <h3><strong>{{ recipe.recipe_name }}</strong></h3>
            <div class="recipes-list__item__data__group">
                <span class="value">{{ recipe.time }} min.</span>
                <span class="label">Time</span>
            
                <span class="value">{{ recipe.cuisine }}</span>
                <span class="label">Cuisine</span>

                <span class="value">{{ recipe.meal_type }}</span>
                <span class="label">Meal</span>
            </div>      
            <p><small>author: {{ recipe.recipe_author.username }}</small></p>
        </div>
        </a>
    </div>
    {% endfor %}
</section>
{% endblock %}
