{% extends 'base_layout.html' %}{% block title %} Deleting the instruction: {{instruction.step}}{%endblock%}
{%block content %}
<h3>Confirm deleting "{{instruction.step}}" step from the "{{instruction.recipe.recipe_name}}" recipe</h3><br/><br/>
<br/>
Step content: {{instruction.description}}
<br/><br/>
<form method="post">
  {% csrf_token %}  
  <button type="submit"> Confirm deleting the ingredient</button>
</form>
<br />
<br />
<a href="{% url 'recipe_detail' instruction.recipe.pk %}">Back to the "{{instruction.recipe.recipe_name}}" recipe </a><br />
<a href="{% url 'recipes' %}">Back to recipes page</a><br />
<a href="{% url 'mainpage' %}">Back to mainpage</a>
<br />
{% endblock %}
