{% extends 'base_layout.html' %} {% block title %} Recipe nr {{recipe.pk}} detail view {%endblock%}
{% block content %}

{% if is_favorite == False %}
<form method="post" action="{% url 'recipe_detail' recipe.pk %}">
  {% csrf_token %}
  <input type="hidden" name="recipe" value="{{recipe}}">
  <button type="submit"  name="add_favorite">Add to Favorites</button>
</form>
{% else %}
<form method="post" action="{% url 'recipe_detail' recipe.pk %}">
  {% csrf_token %}
  <input type="hidden" name="remove_favorite" value="recipe.pk">
  <button type="submit"  name="remove_favorite">Remove from Favorites</button>
</form>
{% endif %}

<section class="center-page recipe-detail">
  <a href="{% url 'recipes' %}" class="link link-orange">⬅ Back to recipes page</a>
  <div class="recipe-detail__img" style="background-image: url('/recipes{{ recipe.recipe_image.url}}');"></div>
  <div class="recipe-detail__data">
    <h2><strong>{{ recipe.recipe_name }}</strong><a href="{% url 'recipe_update' recipe.pk %}" style="text-decoration: none">✏️</a><a href="{% url 'recipe_delete' recipe.pk %}" style="text-decoration: none">❌</a></h2>
    <div class="recipe-detail__data__group">
      <span class="label label--time">Time needed: </span>
      <span class="value">{{ recipe.time }} min.</span>
  
      <span class="label label--cuisine">Cuisine: </span>
      <span class="value">{{ recipe.cuisine }}</span>

      <span class="label label--meal-type">Meal type: </span>
      <span class="value">{{ recipe.meal_type }}</span>
    </div>      
    <p><small>author: {{ recipe.recipe_author.username }}</small></p>
  </div>

  <div class="recipe-content__instructions">
      <h3>Instructions <a href="{% url 'add_instructions' recipe.pk %}" style="text-decoration: none">➕</a></h3>
      <ul>
        {% for instruction in recipe.instruction_set.all %}
        <li><b>{{ instruction.step }}</b>: {{ instruction.description }} &nbsp;<a href="{% url 'instruction_update' instruction.pk %}" style="text-decoration: none">✏️</a><a href="{% url 'instruction_delete' instruction.pk %}" style="text-decoration: none">❌</a></li><br/>
        {% endfor %}
      </ul>
  </div>
  <div class="recipe-content__ingredients">
      <h3>Ingredients <a href="{% url 'add_ingredients' recipe.pk  %}" style="text-decoration: none">➕</a></h3>
      <ul>
        {% for ingredient in recipe.ingredient_set.all %}
        <li><b>{{ ingredient.name }}</b> - {{ ingredient.amount }} &nbsp;<a href="{% url 'ingredient_update' ingredient.pk %}" style="text-decoration: none">✏️</a><a href="{% url 'ingredient_delete' ingredient.pk %}" style="text-decoration: none">❌</a></li>
        {% endfor %}
      </ul>
  </div>

  {% if not user_has_rated %}
  <div class="recipe-detail__data">
    <h2><strong>Rate recipe: {{ recipe.recipe_name }}</strong></h2>
    <div class="recipe-detail__data__group">  
  <form method="post" action="{% url 'recipe_detail' recipe.pk %}">
    {% csrf_token %}
    <h4><label for="rating">Average rating:</label> {{ average_rating }}/5 ({{ total_ratings }})</h4>
    <select name="rating">
        <option value="1" {% if user_rating == 1 %}selected{% endif %}>1</option>
        <option value="2" {% if user_rating == 2 %}selected{% endif %}>2</option>
        <option value="3" {% if user_rating == 3 %}selected{% endif %}>3</option>
        <option value="4" {% if user_rating == 4 %}selected{% endif %}>4</option>
        <option value="5" {% if user_rating == 5 %}selected{% endif %}>5</option>
    </select>
    <br>
    <label for="comment">Comment:</label>
    <textarea name="comment">{{ user_comment }}</textarea>
    <br>
    <button type="submit">Submit Rating and Comment</button>
  </form>

  </div>
  {% endif %}
</section>


<br/>
<h3>All Ratings and Comments</h3>
<ul>
    {% for rating_comment in all_ratings_and_comments %}
        <li>
            <strong>Author:</strong> {{ rating_comment.user.username }} <br/>
            <strong>Rating:</strong> {{ rating_comment.rating }}/5<br/>
            <strong>Comment:</strong> {{ rating_comment.comment }}<br/>
            <br/>
        </li>
    {% endfor %}
</ul>
{% endblock %}
