{% extends 'base_layout.html' %} {% block title %} Recipe nr {{recipe.pk}} detail view {%endblock%}
{% block content %}

<br />
<h4>{{ recipe.recipe_name }} &nbsp;<a href="{% url 'recipe_update' recipe.pk %}" style="text-decoration: none">✏️</a><a href="{% url 'recipe_delete' recipe.pk %}" style="text-decoration: none">❌</a></h4> 



<p><b>Author</b>: {{ recipe.recipe_author.username }}</p>
<p><b>Time Consumption</b>: {{ recipe.time_consumption }} minutes</p>
<p><b>Cuisine</b>: {{ recipe.cuisine }}</p>
<p><b>Meal Type</b>: {{ recipe.meal_type }}</p>

<img src="/recipes{{ recipe.recipe_image.url}}" alt="{{ recipe.recipe_name }}" width="200" height="200">

<h3>Ingredients</h3>
<ul>
  {% for ingredient in recipe.ingredient_set.all %}
  <li><b>{{ ingredient.name }}</b> - {{ ingredient.amount }}</li>
  {% endfor %}
</ul>
<h3>Instructions</h3>
<ul>
  {% for instruction in recipe.instruction_set.all %}
  <li><b>{{ instruction.step_number }}</b>: {{ instruction.description }}</li>
  {% endfor %}
</ul>
<br />
<hr />
<br />
<a href="{% url 'recipes' %}">Back to recipes page</a>
<br />
<a href="{% url 'mainpage' %}">Back to mainpage</a>
<br />


{% endblock %}
