{% extends 'base_layout.html' %}{% block title %} Remove the recipe nr {{favorite_recipe.recipe.pk}} from your favorites list{%endblock%}
{%block content %}
<h3>Confirm deleting the recipe: {{favorite_recipe.recipe.recipe_name}} from your favorites</h3><br/><br/>


    <div class="recipes-list__item__data">
        <center><h3><strong>{{ recipe.recipe_name }}</strong></h3></center>
        <div class="recipes-list__item__data__group">
            <span class="value">{{ favorite_recipe.recipe.time }} min.</span>
            <span class="label">Time</span>
        
            <span class="value">{{ recipe.cuisine }}</span>
            <span class="label">Cuisine</span>

            <span class="value">{{ recipe.meal_type }}</span>
            <span class="label">Meal</span>
        </div>      
        <p><small>author: {{ recipe.recipe_author.username }}</small></p>
    </div>
    </a>

<br/><br/>
<form method="post">
  {% csrf_token %}
  <button type="submit"> Confirm deleting the recipe</button>
</form>
<br />
<br />
<a href="{% url 'recipes' %}">Back to recipes page</a><br />
<br />
{% endblock %}
