$primary-dark: #0B0B0B;
$primary-light: #EEE;
$shadow: rgba(0,0,0,.1);

/* gradients */ 
$g-yellow-top: #FFE53B;
$g-yellow-middle: #FF702E;
$g-yellow-bottom: #FF2525;

$g-pink-top: #FF005B;
$g-pink-middle: #FF3023;
$g-pink-bottom: #ff4d00;

$g-purple-top: #FF005B;
$g-purple-middle: #8E15B4;
$g-purple-bottom: #2D27FF;

$g-blue-top: #00E5FF;
$g-blue-middle: #0B59FF;
$g-blue-bottom: #1200FF;
