@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$big-heading-size: 48px;
$heading-size: 36px;
$subheading-size: 29px;
$heading3-size: 23px;
$small-heading-size: 18px;
$text-size: 15px;
$accent-size: 15px;