<!DOCTYPE html>
<html>
  <head>
    <title>Google Search App</title>
  </head>
  <body>
    <h1>Google Search</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Search</button>
    </form>
    <br />

    <!-- Display search results here if needed -->
    {% if results_list %}
    <h2>Search Results:</h2>
    <ul>
      {% for result in results_list %}
      <li>
        <h3>
          <a href="{{ result.link }}" target="_blank">{{ result }}</a>
        </h3>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    <!-- Display search results here if needed -->
    <a href="{% url 'mainpage' %}">Back to mainpage</a>
  </body>
</html>
