body {
    background-color: $primary-dark;
    color:$primary-light;
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
        
    .body-gradient {
        position: absolute;
        top: 64px;
        left: 0;
        width: 80%;
        opacity: 0.6;

        &.no-menu-bg {
            top: 0px;
        }
    }

    main {
        position: relative;
        top: 30px;
        left: 0;
        padding-top: 70px;

        & > h1,
        & > h2,
        & > h3,
        & > h4 {
            text-align: center;
        }
    }

    h1,
    h2,
    h3,
    h4 {
        text-decoration: none;
        line-height: 1.25em;
        margin: 0.35em 0;
        color: $primary-light;
    }

    h1 {
        font-size: $big-heading-size;
    }

    h2 {
        font-size: $heading-size;
    }

    h3 {
        font-size: $subheading-size;
        font-weight: 300;
    }

    h4 {
        font-size: $small-heading-size;
        font-weight: 300;
    }

    span, p {
        font-size: $text-size;
    }

    small {
        font-size: $small-size;
        color: $text-faded-out;

        & * {
            font-size: inherit;
        }
    }

    a {
        color: $primary-light;
        text-decoration-color: $g-yelpur-top;
    } 
}

.center-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}