.button {
    width: max-content;
    padding: 4px 4px;
    border-radius: 24px;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    
    &:hover {
        transform: scale(0.95);
        transition: 0.2s ease-out;
    }
    
    .ahref--bg,
    .button--bg {
        padding: 9px 0px;
        background-color: $primary-dark;
        border-radius: 24px;
        mask-image: paint(smooth-corners);
        -webkit-mask-image: paint(smooth-corners);

        &.button--bg {
            padding: 0px;
        }

        a,
        button {
            padding: 15px 15px;
            font-size: $accent-size;
            text-transform: uppercase;
            font-weight: 500;
            text-decoration: none;
        }

        button {
            font-family: 'Ubuntu', sans-serif;
            border: none;
            outline: none;
            padding: 9px 15px;
            cursor: pointer;
        }
        
    }

    &.btn-g-blue {
        background: linear-gradient(135deg, $g-blue-top, $g-blue-bottom);
        
        a,
        button {
            background: linear-gradient(135deg, $g-blue-top, $g-blue-middle);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }   
    }

    &.btn-g-yelpur {
        background: linear-gradient(135deg, $g-yelpur-top, $g-yelpur-bottom);
        
        a,
        button {
            background: linear-gradient(135deg, $g-yelpur-top, $g-yelpur-bottom);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }   
    }

    &.btn-g-purple {
        background: linear-gradient(135deg, $g-purple-top, $g-purple-bottom);

        a,
        button {
            background: linear-gradient(135deg, $g-purple-top, $g-purple-bottom);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.link,
.link-left,
.link-right {
    text-decoration: none;
    opacity: 0.7;
    font-size: $text-size;
    padding: 7px 0;

    &.back-link {
        align-self: flex-start;
    }  

    &.link:hover {
        opacity: 0.9;
    }

    &.link-left:hover {
        opacity: 0.9;
        transform: translateX(-3px);
        transition: 0.2s ease-out;
    }
    &.link-right:hover {
        opacity: 0.9;
        transform: translateX(3px);
        transition: 0.2s ease-out;
    }
}

.link-blue {
    color: $g-blue-middle;
}
.link-green {
    color: $g-blue-top;
}
.link-pink {
    color: $g-purple-top;
}
.link-purple {
    color: $g-purple-middle;
}
.link-orange {
    color: $g-yelpur-top;
}