header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: calc(100% - 200px);
    padding: 10px 100px;
    background: $primary-dark;
    height: 40px;
    z-index:100;

    nav.menu-nav {
        display: flex;
        column-gap: 20px;

        a {
            text-decoration: none;
            font-size: $subheading-size;
            line-height: $subheading-size;
        }
    }
    .menu-item {
        justify-self: flex-start;
    }

    &.no-menu .profile-nav {
        display: none;
    }

    .profile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px; 
    }
}