.recipes-list { 
    position: relative;
    top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    column-gap: 60px;
    row-gap: 30px;

    &__item {
        // padding: 20px;
        background-color: $input-background;
        border-radius: 20px;
        
        img {
            width: 100%;
            border-radius: 10px 10px 0 0;
        }

        &__data {
            padding: 15px;
        }
    }
}