/* gradients */
/* success and errors */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
body {
  background-color: #0B0B0B;
  color: #EEE;
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}
body .body-gradient {
  position: absolute;
  top: 64px;
  left: 0;
  width: 80%;
  opacity: 0.6;
}
body .body-gradient.no-menu-bg {
  top: 0px;
}
body main {
  position: relative;
  top: 64px;
  left: 0;
  padding-top: 70px;
}
body h1,
body h2,
body h3,
body h4 {
  text-align: center;
  text-decoration: none;
  line-height: 1.25em;
  margin: 0.35em 0;
  color: #EEE;
}
body h1 {
  font-size: 48px;
}
body h2 {
  font-size: 32px;
}
body h3 {
  font-size: 25px;
  font-weight: 300;
}
body h4 {
  font-size: 18px;
  font-weight: 300;
}
body span, body p {
  font-size: 15px;
}
body small {
  font-size: 12px;
  color: rgba(237, 237, 237, 0.5);
}
body small * {
  font-size: inherit;
}
body a {
  color: #EEE;
  text-decoration-color: #ff9d00;
}

.center-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: max-content;
  padding: 4px 4px;
  border-radius: 24px;
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
}
.button:hover {
  transform: scale(0.95);
  transition: 0.2s ease-out;
}
.button .ahref--bg,
.button .button--bg {
  padding: 9px 0px;
  background-color: #0B0B0B;
  border-radius: 24px;
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
}
.button .ahref--bg.button--bg,
.button .button--bg.button--bg {
  padding: 0px;
}
.button .ahref--bg a,
.button .ahref--bg button,
.button .button--bg a,
.button .button--bg button {
  padding: 15px 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
}
.button .ahref--bg button,
.button .button--bg button {
  font-family: "Ubuntu", sans-serif;
  border: none;
  outline: none;
  padding: 9px 15px;
  cursor: pointer;
}
.button.btn-g-blue {
  background: linear-gradient(135deg, #00ff95, #0f00e3);
}
.button.btn-g-blue a,
.button.btn-g-blue button {
  background: linear-gradient(135deg, #00ff95, #0B59FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button.btn-g-yelpur {
  background: linear-gradient(135deg, #ff9d00, #2D27FF);
}
.button.btn-g-yelpur a,
.button.btn-g-yelpur button {
  background: linear-gradient(135deg, #ff9d00, #2D27FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button.btn-g-purple {
  background: linear-gradient(135deg, #FF005B, #2D27FF);
}
.button.btn-g-purple a,
.button.btn-g-purple button {
  background: linear-gradient(135deg, #FF005B, #2D27FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link,
.link-left,
.link-right {
  text-decoration: none;
  opacity: 0.7;
  font-size: 15px;
  padding: 7px 0;
}
.link.back-link,
.link-left.back-link,
.link-right.back-link {
  align-self: flex-start;
}
.link.link:hover,
.link-left.link:hover,
.link-right.link:hover {
  opacity: 0.9;
}
.link.link-left:hover,
.link-left.link-left:hover,
.link-right.link-left:hover {
  opacity: 0.9;
  transform: translateX(-3px);
  transition: 0.2s ease-out;
}
.link.link-right:hover,
.link-left.link-right:hover,
.link-right.link-right:hover {
  opacity: 0.9;
  transform: translateX(3px);
  transition: 0.2s ease-out;
}

.link-blue {
  color: #0B59FF;
}

.link-green {
  color: #00ff95;
}

.link-pink {
  color: #FF005B;
}

.link-purple {
  color: #8E15B4;
}

.link-orange {
  color: #ff9d00;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  position: absolute;
  top: 0;
  width: calc(100% - 200px);
  padding: 10px 100px;
  background: #0B0B0B;
}
header.no-menu {
  display: none;
}

input,
input:active,
input:focus,
input:focus-visible,
input:target,
input:-webkit-autofill:focus,
input:-webkit-autofill {
  background-color: #0B0B0B;
  color: #EEE;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  line-height: 40px;
  font-size: 15px;
  padding: 0 10px;
  font-family: "Ubuntu", sans-serif;
}

input:-internal-autofill-selected {
  background-color: #0B0B0B !important;
  -webkit-text-fill-color: #EEE;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #0B0B0B inset;
}

input {
  min-width: 300px;
}
input :focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
input ::placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.validation-requirement,
#length-indicator {
  color: rgba(237, 237, 237, 0.5);
}

.login-page__container {
  row-gap: 40px;
  width: 320px;
  margin: 0 auto;
}

.login-page__container .button {
  margin: 0 auto;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 200px);
  column-gap: 20px;
  row-gap: 20px;
  width: 1100px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px;
}
.portfolio a.portfolio__item-container {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 40px;
  color: #EEE;
  text-decoration: none;
  background-size: 100%;
  background-position: center;
  background-color: #000;
}
.portfolio a.portfolio__item-container:hover {
  background-size: 101%;
  transition: 0.3s ease-in-out;
}
.portfolio a.portfolio__item-container h2,
.portfolio a.portfolio__item-container h4 {
  text-align: left;
}
.portfolio a.portfolio__item-container--recipes {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.22) 54%, rgba(0, 0, 0, 0.8) 81%), url("/static/images/recipes.webp");
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.portfolio a.portfolio__item-container--seotool {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.22) 54%, rgba(0, 0, 0, 0.8) 81%), url("/static/images/seo-tool.webp");
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 5;
}
.portfolio a.portfolio__item-container--quotes {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.22) 40%, rgba(0, 0, 0, 0.8) 81%), url("/static/images/quotes.webp");
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.portfolio a.portfolio__item-container--todolist {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.22) 40%, rgba(0, 0, 0, 0.8) 81%), url("/static/images/todolist.webp");
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

/*# sourceMappingURL=style.css.map */
