<!DOCTYPE html>
<html>
  <head>
    <title>Todo List</title>
  </head>
  <body>
    <h1>Here's everything you have to do:</h1>
    <ul>
      {% for record in records %}
      <li>
        {{record.date}}: <b>{{ record.todopoint}}</b>
        <a href="{% url 'edit_todo' record.id %}" style="text-decoration: none"
          >✏️</a
        >
        <a
          href="{% url 'delete_todo' record.id %}"
          style="text-decoration: none"
          >❌</a
        >
      </li>
      {% endfor %}
    </ul>

    <br />
    <h2>Add new to do:</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <p>Explain what you're supposed to do:</p>
        <p>{{ form.todopoint }}</p>
        <br />and when it's supposed to be done:
        <p>{{form.date}}</p>
      </div>
      <button type="submit">Add new</button>
    </form>
  </body>
</html>
