{% if user.is_authenticated %} Hello <b>{{user.username}}</b> - you can logout
<a href="{% url 'logout' %}">here</a>
{% else %}
<a href="{% url 'register' %}">You can register here</a> <br />
<a href="{% url 'login' %}">You can login here</a>
{% endif %} <br />

Here's the full list of apps I've created:
<ul>
  <li>
    <a href="/seotool"><b>Simple SEO tool</b></a
    ><br />
    <i>Multiple RestAPI usage</i>
  </li>
  <li>
    <a href="/quotes"><b>Quotes generator</b></a
    ><br />
    <i>RestAPI usage - GET / POST</i>
  </li>
  <li>
    <a href="/to-do-list/"><b>To do list</b></a
    ><br />
    <i>Simple CRUD</i>
  </li>
</ul>
