{% extends 'base_layout.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Full list of apps I've created</h1>
    <section class="portfolio">
      <a href="seotool/" class="portfolio__item-container portfolio__item-container--seotool">
        <div class="portfolio__item">
          <h2>Simple SEO tool</h2>
          <h4>Multiple external RestAPI usage</h4>
        </div>
      </a>
      <a href="quotes/" class="portfolio__item-container portfolio__item-container--quotes">
        <div class="portfolio__item portfolio__item">
          <h2>Quotes generator</h2>
          <h4>External RestAPI usage - GET / POST</h4>
        </div>
      </a>
      <a href="to-do-list/" class="portfolio__item-container portfolio__item-container--todolist">
        <div class="portfolio__item portfolio__item">
          <h2>TODO list</h2>
          <h4>Simple CRUD</h4>
        </div>
      </a>
    </section>
    </ul>
{% endblock %}


