{% extends 'base_layout.html' %}
{% block title %}Login{% endblock %}
{% block background_class %}no-menu-bg{% endblock %}
{% block header_class %}no-menu{% endblock %}
{% block content %}
    <h1>Login</h1>
    <section class="center-page login-page__container">
    <form method="post">
      {% csrf_token %}
      <input type="text" id="username" name="username" required placeholder="Username"/>
      <input
        type="password"
        id="password"
        name="password"
        required
        placeholder="Password"
      />
      <div class="button btn-yelpur"><div class="button--bg"><button type="submit">Login</button></div></div>        
    </form>
    <a href="{% url 'register' %}" class="link link-purple">Create an account</a>
    </section>
{% endblock %}
