{% extends 'base_layout.html' %}
{% block title %}Quotes generator home{% endblock %}
{% block content %}
<h2>THE QUOTE:</h2>
<br/>

<center>
  <h2>{{content}}</h2>
  <i>{{author}} </i>
  <br />
  <p><form method="post">
    {% csrf_token %}<div class="button btn-g-yelpur"><div class="ahref--bg"><button type="submit" name="add_favourite">
      Add to favourite⭐
      <input type="hidden" name="content" value="{{content}}">
      <input type="hidden" name="author" value="{{author}}">
    </button></div></div>
  </form></p>
  <p><div class="button btn-g-yelpur"><div class="ahref--bg"><a href="{% url 'quote' %}">Generate new quote</div></div></p>
</center>

{% if list_favourite_quotes %}
<h3>Here's list of your favourite quotes:</h3>
<ul>
  {% for favourite_quote in list_favourite_quotes %}
  <li><b>{{favourite_quote.author}}</b>: <i>{{favourite_quote.quote}}</i> 
    <a href="{% url 'delete_favourite_quote' favourite_quote.pk %}" style="text-decoration: none">❌</a></li> 
  {% endfor %}
</ul>
{% endif %}



<br />
<br />
<a href="{% url 'mainpage' %}">Back to mainpage</a>
{% endblock %}
