.portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 200px);
    column-gap: 20px;
    row-gap: 20px;
    width: 1100px;
    margin: 0 auto;
    // background: #b0b0b0;
    padding: 10px;

    a.portfolio__item-container {
        background: #a58f8f;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 40px 40px;
        color: $primary-light;
        text-decoration: none;

        h2,
        h4 {
            text-align: left;
        }

        &--seotool {
            background: url("/home/niutoseq/ART/Portfolio/static/images/seo-tool.webp");
            background-size: cover;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 4;
        }

        &--quotes {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &--todolist {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        }
    }
}